div {
    border: 1px dahed black;
}
#carosello {
    position: relative;
}
#padreImg {
    width: 1000px;
    height: 400px;
}
#padreImg img {
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 50px;
}
i {
    font-size: 40px;
    cursor: pointer;
}
i:hover {
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(162, 0, 255), 0 0 0.2em red;
}
.fa-solid.fa-circle-left {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translatey(-50%);
}
.fa-solid.fa-circle-right {
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translatey(-50%);
}
.carosello div {
    position: relative;
}
h2 {
   
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(162, 0, 255), 0 0 0.2em red;
    right: 80px;
    bottom: 80px;
}
p {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: none;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(162, 0, 255), 0 0 0.2em red;
}
.active {
    display: block;
}
#thumb {
    width: 1000px;
    margin-top: 20px;
}
#thumb img {
    width: 300px;
    height: 100px;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 20px;
    display: block;
}
#thumb img:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(162, 0, 255), 0 0 0.2em red; ;
}
.opacity {
    opacity:0.5
}
.personalizzazioneThumb {
    opacity: 1;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(162, 0, 255), 0 0 0.2em red; ;
}
.padreBotton {
    width: 1000px;
}
.padreBotton button {
    border-radius: 50px;
    padding: 10px;
    
    font-weight: bold;
    background-image: linear-gradient(to left, black , red , blue);
}
.gold {
    color: white;
text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(162, 0, 255), 0 0 0.2em red; ;
}